exportMethods(au)
exportMethods(genFLIndex)
exportMethods(genFLQuant)
exportMethods(getAcor)
exportMethods(iterCVs)
exportMethods(iterMedians)
exportMethods(iterSums)
import(FLAssess)
import(FLCore)
import(MASS)
